@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
}

#brand a {
    color: white;
}
#brand span{
    color: hotpink;
}
header ul, .buttons {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar ul a {
  color: white;
}

.navbar ul li {
  padding: 5px;
  margin-right: 30px;
}

.navbar ul li a:hover {
  color: hotpink;
  transition: 0.3s;
}

.buttons li:hover{
  background-color: hotpink;
}

.buttons #signup a:hover{
  color: white;
}

.buttons #login a:hover{
  color: white;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid hotpink;
  transition: 0.3s;
}

#signup {
  border: 1px solid hotpink;
  transition: 0.3s;
}

#signup a {
  color:hotpink;
}

#login a {
  color: hotpink;
}



#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: auto;
  width: 100%;
  background-color: #1d1f1d;
  z-index: 1000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-menu #signup:hover{
  background-color: hotpink;
  color: white;
  }
    
  .mobile-menu #login:hover{
  background-color: hotpink;
  color: white;
  }

.mobile-menu li {
  margin-bottom: 20px;
}

.footer{
  background: #24262b;
  position: absolute;
  width: 100%;
  height: 310px;
}

.footer a{
  text-decoration: none;
  color: antiquewhite;
}

.footer .row{
  display: flex;

}

ul{
  list-style: none;
}

.footer .footer-col1 h4{
  color: antiquewhite;
  margin-top: 45px;
  margin-bottom: 5px;
  font-size: 17px;
}

.footer .footer-col h4{
  color: antiquewhite;
  margin-top: 45px;
  margin-bottom: 5px;
  font-size: 17px;
}

.footer-col{
  width: 200px;
}

.footer-col1{
  margin-left: 30px;
  width: 200px;
}

.legal{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.legal p{
  color: antiquewhite;
  position: absolute;
  bottom: 0;
  left: 0;
}

.legal a{
  position: absolute;
  bottom: 0;
  right: 0;
}

.social-links a i{
  margin: 3px;
  font-size: 20px;
  transition-duration: .5s;
}

.social-links a i:hover{
  color: hotpink;
  padding-right: 10px;
  padding-left: 10px;
  
}

.footer-col a:hover{
  color: hotpink;
  padding-left: 20px;
  transition-duration: .5s;
}
.right-container form{
  position: absolute;

}
.subscribe{
  display: flex;
  margin-left: 75%;
  margin-top: -160px;
}

.subscribe form .email{
  height: 40px;
  margin-top: 10px;
  width: 266px;
  border-radius: 5px;
  border: 1px solid black;
}

.subscribe form .email:focus{
  border: 0px;
  box-shadow: 0 0 5px 5px hotpink;
  border: none;
}

.subscribe form button{
  height: 40px;
  width: 266px;
  margin-top: 20px;
  background: hotpink;
  border-radius: 5px;
}

.subscribe form button:hover{
  background: violet;
  font-weight: bolder;
  box-shadow: 1px 1px 0px black;
  cursor: pointer;
  transition-duration: .5s
}

.subscribe h4{
  color: antiquewhite;
}


@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.background3rd{
  background-image: url("pictures/contact.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  z-index: -1;
}


.contact .contact-box{
  width: 400px;
  position: absolute;   
  margin-top: 13%;
  text-align: center;
  margin-left: 7%;
}

span{
  color: hotpink;
}

h1{
  font-size: 70px;
  margin-right: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 30px;
  letter-spacing: 3px;
}

.contact .contact-box form{
  text-align: end;
}

.contact .contact-box form .input-field{
  width: 400px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 2px solid black;
  outline: none;
  font-size: 18px;

}

.contact .contact-box form .input-field:focus{
  border: 2px solid black;
  box-shadow: 0 0 3px 3px hotpink;
}

.contact .contact-box form .text-field{
  height: 100px;
  width: 400px;
  margin-top: 20px;
  border-radius: 5px;
  border: 0px;
  border-bottom: 2px solid black;
  outline: none;
  text-align:start;
  font-size: 18px;
  font-family:  "Poppins", sans-serif;
}

.contact .contact-box form .text-field:focus{
  border: 2px solid black;
  box-shadow: 0 0 3px 3px hotpink;
}

.contact .contact-box form button{
  width: 400px;
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
  border-radius: 5px;
  background: hotpink;
  border: 1px solid black;
  font-weight: 500;
}


.contact .contact-box form button:hover{
  background: violet;
  font-weight: bolder;
  box-shadow: 1px 1px 0px black;
  cursor: pointer;
  transition-duration: .5s;
}


@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  footer{
    display: none;
  }
  .background3rd{
    width: 100%;
  }

  .contact{
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 10%;
  }
}

